@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    font-family: 'Cairo', sans-serif;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div.header{
    text-align: center;
}
div.header p {
    margin-top: 15px;
    font-size: 70px;
    letter-spacing: 3px;
}

div.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-right: 360px;
}

div#tools {
    /* background-color: rgb(248, 0, 0); */
    width: 200px;
    height: 600px;
    margin-right: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

div#tools button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    transition: 0.3s;
    transition-timing-function: ease;
}
div#tools button:hover{
    background-color: rgb(48, 47, 47);
    color: white;
    width: 220px;
    height: 42px;
    margin-bottom: -2px;
}

div#tools button:active{
    background-color: rgb(48, 47, 47);
    color: white;
    width: 220px;
    height: 42px;
    margin-bottom: -2px;
}

input[type='color'] {
    appearance: none;
    border: none;
}
  
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
}

div#tools #color-picker{
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

div#tools #color-picker:focus, div#tools #color-picker:hover{
    width: 95px;
    height: 95px;
    margin-top: 0px;
}

div#tools p {
    font-size: 36px;
    letter-spacing: 1px;
    margin-top: -20px;
    margin-bottom: -35px;
}

div#tools #grid-size {
    width: 100%;
    cursor: pointer;    
    accent-color: #0a8f5e;
}

div#grid {
    background-color: white;
    width: 700px;
    height: 700px;
}